.container {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 3% auto;
    flex-wrap: wrap;
}

.min-height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}