.project_details {
    padding: 2em;
}

.project_details h1,
.project_details h2,
.project_details p {
    margin-bottom: 0.5em;
}

.project_details h1:hover {
    color: rgb(230, 60, 94);
}

.project_details h1 {
    transition: .5s;
    cursor: pointer;
    background-color: #222;
    color: crimson;
    padding: 0.4em;
}

.project_details span {
    font-weight: bold;
}

.details_container,
.service_form_container {
    border-bottom: 1px solid white;
    padding-bottom: 1.2em;
    margin-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    background-color: darkgoldenrod;
    color: black;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border: none;
    cursor: pointer;
    max-height: 40px;
}

.btn:hover {
    color: white;
}

.project_info {
    width: 100%;
}