body {
  background-color: black;
  color: #f0f0f0;
}

img {
  position: relative;
  top: -30px;
  width: 300px;
  max-height: 300px;
  align-items: center;

}

.cadastro-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  /* alinha o conteÃºdo ao centro */
  margin-top: 15px;
}

.login-container h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  color: #f0f0f0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
}

button[type="submit"] {
  display: block;
  width: 103%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: darkred;
  color: #fff;
}