body {
  background-color: black;
}
h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0.3px;
  color: darkred;
  font-size: 50px;
  
}
img{
  width: 400px;
  max-height: 400px;
  align-items: center;

}
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center; /* alinha o conteÃºdo ao centro */
  margin-top: 15px;
}

.login-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-top: 100px;
  text-align: left;
  color: #f0f0f0;
}
.nomeuse{
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
}

.buttonlogin[type="submit"] {
  display: block;
  width: 105%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: darkred;
  color: #fff;

}

h5{
color: darkred;
}