.sobrePag {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h9 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFFAEF;
  }
  h8 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #D47F00;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: red;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  ol {
    margin-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  
  
  
  
  
  
  