body{
  background-color: black;
}
nav{
  background-color: darkred;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 5px;
}
a{
margin-Left: 35px;
color: black;
font-family: 'Times New Roman', Times, serif;
font-size:xx-large;
text-decoration: none;
margin-right: 35px;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Ajuste conforme necessário */
  margin-right: 70px;
}

.image-section img {
  width: 300px; /* Define a largura da imagem */
  height: auto; /* Mantém a proporção da imagem */
  margin-Left: 60px;
  position:relative;
  top: 30%;
  left: 12%;
  margin-bottom: 12%;
  margin-right: 5px;
  margin-left: 5px;
 
}
.parteBaixo{
background-color: darkgoldenrod;
}
img{
  width: 350px;
  max-height: 350px;
  align-items: center;
  margin-top: 150px;
  
}
.cadastro{
  background-color: darkgoldenrod;
  border-radius: 20px;
  padding: 6px;
  border: 3px solid black;
}
.sobrenav{
  background-color: darkgoldenrod;
  border-radius: 20px;
  padding: 6px;
  border: 3px solid black;
}
.aposta{
  background-color: darkgoldenrod;
  border-radius: 20px;
  padding: 6px;
  border: 3px solid black;
}

.contato{
  background-color: darkgoldenrod;
  border-radius: 20px;
  padding: 6px;
  border: 3px solid black;
}

.login{
  background-color: darkgoldenrod;
  border-radius: 20px;
  padding: 6px;
  border: 3px solid black;
}
.sobre{
  color: wheat;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  height: auto;

  
}
.sobre1{
  color: wheat;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  margin-top: -120px;
  background-color: darkgoldenrod;

}
h1{
  margin-left: 10px;
  margin-top: 105px;

}
.joia{
  margin-left: 55%;
  margin-top: -800px;
  
}
.demonioJoia{
  width: 550px;
  max-height: 550px;
}
.jooj{
  width: 210px; /* Define a largura da imagem */
  height: auto; /* Mantém a proporção da imagem */
  margin-left: 5%;
  height: 200px;
}


