body{
  background-color: black;
}
nav{
  background-color: darkred;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 5px;
}
a{
margin-Left: 30px;
color: black;
font-family: 'Times New Roman', Times, serif;
font-size:xx-large;
text-decoration: none;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Ajuste conforme necessário */
}
.image-section img {
  width: 300px; /* Define a largura da imagem */
  height: auto; /* Mantém a proporção da imagem */
  margin-Left: 60px;
  position:relative;
  top: 30%;
  left: 12%;
 
}

img{
  max-width: 120%;
  max-height: 120%;
  
}
button{
  background-color: darkgoldenrod;
  color: black;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 10px;
  font-family: 'Times New Roman', Times, serif;
 
}