.col-md-10{
    text-align: center;
}
.logoCav{
    width: 40px; /* Defina a largura desejada */
    height: 40px; /* Defina a altura desejada */
}

.apostaCam{
    margin-top: 40px;
    font-size:x-large;
}

.ganhoCam{
    font-size: larger;
}

.apostaIn{
    border-radius: 5px;
}

.botaoCam{
  height: 60px;
  width: 180px;
  margin-top: 20px;
  background-color: #252727;
  color: #FFFAEF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 5px solid darkred;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
}