h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    border-style:dashed;
    border-color: #FFFAEF;
    color: #FFFAEF;
}