.btn {
    background-color: #222;
    color: #fff;
    padding: .7em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #ffbb33;
    color: #222;
    padding: 1em 1.5em;
}

.center {
    text-align: center;
}